
/*  POPUPS  */
.popup {
    background: linear-gradient(135deg, #868686, #002e47);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 37.5%;
    height: 375px;
    margin: 2.5% auto 2.5% auto;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px 2px black;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

.tituloForm{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.popup input {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #3f005c;
    outline: none;
}

.btnPop {
    width: 37.5%;
    background: #000000;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 100%;
    box-shadow: rgba(0, 0, 0, 0.349) 0px 5px 5px 1px;
    transition: 0.3s all;
}

.btnPop:hover {
    background: #394386;
}