/* ESTILO GERAL */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: linear-gradient(90deg, #deb4ff, #002e47);
    color: #fff;
}

/* HEADER */
header {
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.logo {
    position: relative;
    display: inline-block;
}

.logo h1 {
    font-size: 2.5rem;
    font-weight: 800;
    z-index: 2;
    position: relative;
}

/* tentativa Nuvem abaixo do nome */
.nuvem {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 25px;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 60px 0 0 0 white;
    z-index: 1;
}

.btnNav  {
    background: linear-gradient(to left, #868686, #003e47);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.3s all;
}

.btnNav:hover {
    background: #3693df;
}

/*  FOOTER  */
.foot{
    height: 10%;
    width: 100%;
    position: fixed;
    background: #0a0215;
    color: #aaa;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    bottom: 0%;
}