/*  BARRA DE PESQUISA  */
.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #1d0c2e;
    margin: 40px auto 0px auto;
    width: 80%;
    border-radius: 30px;
    display: flex;
    height: 50px;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.3rem;
    width: 5%;
}

#searchInput{
    background: none;
    border: none;
    outline: none;
    color: white;
    width: 25%;
    font-size: 1rem;
    width: 90%;
    height: 100%;
}

#searchInput::placeholder {
    color: white;
}

/*   PRODUTOS */
.clt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.produtos-section {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 90px;
    flex-wrap: wrap;
    padding: 90px;
    width: 90%;
}

.card {
    background: linear-gradient(135deg, #868686, #002e47);
    border-radius: 9px;
    width: 27.5%;
    padding: 30px;
    text-align: justify;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s all;
    height: 500px;
    font-family: serif;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 40px;
}

.card h3 {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #fff;
}

.card p {
    font-weight: bold;
    color: #cdb2f7;
}

/*  SETAS DECORATIVAS */
.seta-direita {
    font-size: 4rem;
    color: #cdb2f7;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    padding-bottom: 7px;
    background-color: transparent;
    border: transparent;
    height: 60%;
}

.seta-direita:hover {
    color: #fff;
    transform: scale(1.2);
}

.seta-direita {
    position: absolute;
    right: 50px;
}

/*  POPUPS  */
.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fafafa;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.4);
    width: 35%;
    height: 65%;
    text-align: center;
    transition: 0.3s all;
    z-index: 100;
    background: linear-gradient(to right, #868686, #003e47);
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    width: 72.5%;
}

.fill{ width: 12.5%; }

.tituloForm{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.popup input {
    width: 90%;
    height: 50px;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #3f005c;
    outline: none;
}

.btnPop {
    width: 30%;
    background: #000000;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 100%;
    box-shadow: rgba(0, 0, 0, 0.349) 0px 5px 5px 1px;
    transition: 0.3s all;
}

.btnPop:hover {
    background: #394386;
}

.vy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 50%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s all;
    box-shadow: rgba(0, 0, 0, 0.349) 0px 5px 5px 1px;
}

.vy:hover {
    background: #394386;
}