/*  BARRA DE PESQUISA  */
.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #1d0c2e;
    margin: 40px auto 0px auto;
    width: 80%;
    border-radius: 30px;
    display: flex;
    height: 50px;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.3rem;
    width: 5%;
}

#searchInput{
    background: none;
    border: none;
    outline: none;
    color: white;
    width: 25%;
    font-size: 1rem;
    width: 90%;
    height: 100%;
}

#searchInput::placeholder {
    color: white;
}

/*   PRODUTOS */
.clt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.produtos-section {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 90px;
    flex-wrap: wrap;
    padding: 90px;
    width: 90%;
}

.card {
    background: linear-gradient(135deg, #868686, #002e47);
    border-radius: 9px;
    width: 27.5%;
    padding: 30px;
    text-align: justify;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s all;
    height: 500px;
    font-family: serif;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 10px rgb(128, 225, 255, 0.8);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 40px;
}

.card h3 {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #fff;
}

.card p {
    font-weight: bold;
    color: #cdb2f7;
}

/*  SETAS DECORATIVAS */
.seta-direita {
    font-size: 4rem;
    color: #cdb2f7;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    padding-bottom: 7px;
    background-color: transparent;
    border: transparent;
    height: 60%;
}

.seta-direita:hover {
    color: #fff;
    transform: scale(1.2);
}

.seta-direita {
    position: absolute;
    right: 50px;
}