.produtoInfo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 90vh;
	padding: 10%
}

.infoTxt{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(45deg, lime, green);
	height: 25%;
	width: 100%;
}